.main-column {
  width: 66%;
  clear:both;
	padding-top: 20px;
	padding-left: 20px;
	margin-top: 25px;
	margin-bottom: 25px;
	background-color:white;
	padding-right: 20px;
  padding-bottom:20px;
  margin-left: 2em;

	box-shadow: 5px 5px 5px rgba(0, 0, 0, .1);
}